body{
  text-align:center;
  background-image: url("bg.png");
}
button {
 appearance: button;
 color:white;
 font-family:'Orbitron';
 font-weight:bold;
 background-color:black;
 height:70px;
 font-size:30px;
 width:220px;
 border: 3px solid white;
 box-shadow: 15px 15px 15px 0px rgba(255,255,255,0.35);
filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  
}
h1{
 font-family:'Orbitron';
 font-size: 20px;
  color: white;
}
.box{
  border: 2px solid white ;
  display: inline;
}
