body{
  text-align:center;
  background-image: url("bg.png");
}
button {
 appearance: button;
 color:white;
 font-family:'Orbitron';
 
 background-image:url("bg.png");  
background-size:cover;
 height:70px;
 font-size:30px;
 width:220px;
 border: 3px solid white;
 box-shadow: 15px 15px 15px 0px rgba(255,255,255,0.35);
filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
  
}
h1{
 font-family:'Orbitron';
 font-size: 40px;
  color: white;
  margin-right:1px;
  font-weight:bold;
 margin-bottom:1px;
 margin-top: 5px;
  
}
.box{
  border: 1px solid white ;
  display: inline-block;
  height:45px;
  width:45px;
  box-shadow: 5px 5px 5px 0px rgba(255,255,255,0.35);
filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
 }
